<section>
  <div class="container">
      <!-- Social Icons Start Here -->
      <div class="row">
        <div class="col text-center">

      <a role="button" class="btn btn-light btn-md active" href="https://www.facebook.com/profile.php?id=100009424396458" target="_blank"><span>facebook</span></a>
      </div >
      <div class="col text-center">
	<a role="button" aria-pressed="true" class="btn btn-light btn-md active" href="https://www.instagram.com/deretorska_tania/" target="_blank"><span>instagram</span></a>
  </div>
</div>
      <!-- Social Icons End Here -->
    
  </div>
</section>