<section>
  <div class="container">
      <div class="row">
        <div class="col">
          <div style="background-color:gainsboro; font-size: 15px; padding: 25px; margin:10px;">
            <div class="text-center">
                  <h4>90 Days Return</h4>
                  <p>30 days for free return</p>
                  <i class="glyphicon glyphicon-refresh"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div style="background-color:gainsboro; font-size: 15px; padding: 25px; margin:10px;">
            <div class="text-center">
                  <h4>Gift Card</h4>
                  <p>Gift card on purchase</p>
                  <i class="glyphicon glyphicon-gift"></i>
            </div>
          </div>
        </div>
        <div class="col">
          <div style="background-color:gainsboro; font-size: 15px; padding: 25px; margin:10px;">
            <div class="text-center">
                  <h4>Free Shipping</h4>
                  <p>Free shipping on alorder</p>
                  <i class="glyphicon glyphicon-send"></i>
            </div>
          </div>
        </div>
        <div class="col">
            <div style="background-color:gainsboro; font-size: 15px; padding: 25px; margin:10px;">
              <div class="text-center">
                    <h4>Support</h4>
                    <p>info@company.com</p>
                    <i class="glyphicon glyphicon-envelope"></i>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>