<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" routerLink="">IQ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">NEW IN<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Одяг
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Блузки та сорочки</a>
              <a class="dropdown-item" href="#">Джинси</a>
              <a class="dropdown-item" href="#">Брюки</a>
              <a class="dropdown-item" href="#">Сукні та сарафани</a>
              <a class="dropdown-item" href="#">Костюми та піджаки</a>
              <a class="dropdown-item" href="#">Джемпери та кардігани</a>                  
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Взуття
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Туфлі</a>
              <a class="dropdown-item" href="#">Чоботи</a>
              <a class="dropdown-item" href="#">Ботильйони</a>
              <a class="dropdown-item" href="#">Босоніжки</a>
              <a class="dropdown-item" href="#">Кросівки та кеди</a>
              <a class="dropdown-item" href="#">Домашнє взуття</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Аксесуари
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Сережки</a>
                <a class="dropdown-item" href="#">Каблучки</a>
                <a class="dropdown-item" href="#">Кольє</a>
                <a class="dropdown-item" href="#">Браслети</a>
                <a class="dropdown-item" href="#">Сумки</a>
                <a class="dropdown-item" href="#">Окуляри</a>
                <a class="dropdown-item" href="#">Шарфи</a>
                <a class="dropdown-item" href="#">Ремні</a>
                <a class="dropdown-item" href="#">Годинники</a>
            </div>
          </li>
          
          <li routerLinkActive="active current"><a class="nav-link" routerLink="/sign-up"><span class="glyphicon glyphicon-user" aria-hidden="true"> Sign up</span></a></li>
          <li routerLinkActive="active current"><a class="nav-link" routerLink="/sign-in"><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Sign in</span></a></li>
          
      </ul>
     
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>