<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" >
                <div style="padding: 15px; margin:15px;">
                <a href="#">
                    <img src="https://i.pinimg.com/originals/e0/5e/f1/e05ef170bf3f4c1b9198623b9237d99f.jpg" alt="Products">
                </a>
                <div class="text-center">
                    <h3>
                        <a href="#">Long Cartigen</a>
                    </h3>
                    <div>
                        <span>$80</span>            
                    </div>
                    <a href="#" class="btn btn-light btn-md active" role="button" aria-pressed="true">Learn more</a>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div style="padding: 15px; margin:15px;">
                <a href="#">
                    <img src="http://www.haoduoyi.com/upload/image/20181021/ind_20181021141625_34496.jpg" alt="Products">
                </a>
                <div class="text-center">
                    <h3>
                        <a href="#">Long Cartigen</a>
                    </h3>
                    <div>
                        <span>$80</span>            
                    </div>
                    <a href="#" class="btn btn-light btn-md active" role="button" aria-pressed="true">Learn more</a>
                </div>
                </div>             
            </div>
            <div class="col-3">
                <div style="padding: 15px; margin:15px;">
                <a href="#">
                    <img src="https://www.haoduoyi.com/upload/image/20180127/ind_20180127121800_92938.jpg" alt="Products">
                </a>
                <div class="text-center">
                    <h3>
                        <a href="#">Long Cartigen</a>
                    </h3>
                    <div>
                        <span>$80</span>            
                    </div>
                    <a href="#" class="btn btn-light btn-md active" role="button" aria-pressed="true">Learn more</a>
                </div>
                </div>             
            </div>
            <div class="col-3">
                <div style="padding: 15px; margin:15px;">
                <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/2265/6873/products/product_33_large.jpg?v=1505813759" alt="Products">
                </a>
                <div class="text-center">
                    <h3>
                        <a href="#">Long Cartigen</a>
                    </h3>
                    <div>
                        <span>$80</span>            
                    </div>
                    <a href="#" class="btn btn-light btn-md active" role="button" aria-pressed="true">Learn more</a>
                </div> 
                </div>            
            </div>
        </div>
    </div>
</section>